<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="RiscoContextQA" connectionString="data source=54.148.149.213;initial catalog=risco;integrated security=false;User Id=risco; Password=8J6$lO3@ii9B;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="RiscoContextQA" connectionString="data source=ISB-APP-24\ADMIN;initial catalog=Risco_Dev;integrated security=false;User Id=sa; Password=Admin123;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="RiscoContextQA" connectionString="data source=35.160.175.165;initial catalog=Risco_Dev;integrated security=false;User Id=basket; Password=B@sket@312;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--Development string-->
    <!--<add name="RiscoContextQA" connectionString="data source=52.203.181.17;initial catalog=Risco_Dev;integrated security=false; User ID=riscousr; Password=B@sket@312;multipleactiveresultsets=True;application name=EntityFramework;Connect Timeout=20000" providerName="System.Data.SqlClient" />-->
    
    <!--Development string-->
    <!--<add name="RiscoContextQA" connectionString="data source=52.203.181.17;initial catalog=Risco;integrated security=false; User ID=riscousr; Password=B@sket@312;multipleactiveresultsets=True;application name=EntityFramework;Connect Timeout=20000" providerName="System.Data.SqlClient" />-->

    <!--Development string-->
    <!--<add name="RiscoContextQA" connectionString="data source=52.203.181.17;initial catalog=Risco;integrated security=false; User ID=riscousr; Password=B@sket@312;multipleactiveresultsets=True;application name=EntityFramework;Connect Timeout=20000" providerName="System.Data.SqlClient" />-->
    
    <!--Local string-->
    <!--<add name="RiscoContextQA" connectionString="data source=DESKTOP-0VM22AO;initial catalog=Risco_Dev;integrated security=false; User ID=FAR;
         Password=qwerty1234;multipleactiveresultsets=True;application name=EntityFramework;Connect Timeout=900" providerName="System.Data.SqlClient" />-->

    <!--Local string-->
    <add name="RiscoContextQA" connectionString="data source=DESKTOP-0VM22AO;initial catalog=Risco;integrated security=false; User ID=FAR;
         Password=qwerty1234;multipleactiveresultsets=True;application name=EntityFramework;Connect Timeout=900" providerName="System.Data.SqlClient" />
    
    
  </connectionStrings>
  <appSettings>
    <add key="UserImageFolderPath" value="UserImages/" />
    <add key="PostMediaFolderPath" value="PostMedia/" />
    <add key="GroupMediaFolderPath" value="GroupMedia/" />
    <add key="StoreImageFolderPath" value="StoreImages/" />
    <add key="ProductImageFolderPath" value="ProductImages/" />
    <add key="CategoryImageFolderPath" value="CategoryImages/" />
    <add key="AdminImageFolderPath" value="AdminImages/" />
    <add key="BannerImageFolerPath" value="BannerImages/" />
    <add key="DelivererImageFolderPath" value="DelivererImages/" />
    <add key="OfferImageFolderPath" value="OfferImages/" />
    <add key="PackageImageFolderPath" value="PackageImages/" />
    <add key="InvoicesImageFolderPath" value="Invoices/" />
    <add key="VideosFolderPath" value="Videos/" />
    <add key="VideoUploadSize" value="20971520" />
    <add key="ImageUploadSize" value="3145728" />

    <!--<add key="BaseUrl" value="http://risco.ingicweb.com/Api/"/>
    <add key="WebsiteBaseUrl" value="http://risco.ingicweb.com/Api/"/>-->

    <add key="BaseUrl" value="http://localhost:50733/RiscoApi/" />
    <add key="WebsiteBaseUrl" value="http://localhost:50733/RiscoApi/" />
    
    <!--<add key="BaseUrl" value="http://10.100.28.34:825/"/>
    <add key="WebsiteBaseUrl" value="http://10.100.28.34:825/"/>-->
    <!--<add key="BaseUrl" value="http://35.160.175.165:8090/SkriblApi/" />-->
    <add key="NearByStoreRadius" value="50" />
    <!--Distance in miles-->
    <!-- Payfort Configuration Starts-->
    <add key="merchant_identifier" value="WStFViDL" />
    <add key="access_code" value="Tv7sElBwV3I3mIqdKR5p" />
    <add key="sha_type" value="sha256" />
    <add key="sha_request_phrase" value="TESTSHAIN" />
    <add key="sha_response_phrase" value="TESTSHAOUT" />
    <add key="language" value="en" />
    <add key="currency" value="AED" />
    <add key="payforturi" value="https://sbpaymentservices.payfort.com/FortAPI/paymentApi" />
    <!-- Payfort Configuration Starts-->
    
    <!-- GCM Configuration Starts-->
    <add key="GCMAppStorePackageName" value="com.ingic.riscoApp" />
    <add key="GCMEnterprisePackageName" value=" com.ingic.riscoApp" />
    <add key="GCMProjectID" value="501597125632" />
    <add key="GCMWebAPIKey" value="AAAAa0LW9EE:APA91bH_SG9JCaQyd_1eIETbq5rmsQumR1AyEJKNYw-cnc9sAg8o7XLcPPrJ4Fp9bay0IQ_fxvFqBuhcJbWVMtwhiRs8WsNOrpsZCjkFdVJusGVgjtfh43m5EvhUJquZK1XQSt4UJY59" />
    <add key="GCMURL" value="https://fcm.googleapis.com/fcm/send" />
    <!--GCM Configuration Ends-->
    
    
    <!-- GCM WEB Configuration Starts-->
    <add key="GCMWebPackageName" value="Risco" />
    <!--<add key="GCMWeb1APIKey" value="AIzaSyCwQxInzYXynMeby0UlzylfHU8zeFl9ui0" />-->
    <add key="GCMWeb1APIKey" value="AAAAo6xe7HQ:APA91bHvZIRJXxCELKEKmE4E2Us01QLFSGgVOQagKExXsIdIU3Mtu1R_deuNYCcVjDUFJS8UHJMObB0zyOYgultZi3qP9f1uett5nh_40VwYQ3eaZW_igoPNor54L9MrmMmcl99pIDyA" />
    <add key="GCMWeb1URL" value="https://fcm.googleapis.com/fcm/send" />
    <!--<add key="SenderId" value="1068880581719"/>-->
    <!--<add key="GCMWeb1ProjectID" value="215128036629" />-->
    <add key="GCMWeb1ProjectID" value="project-1068880581719" />
    <!--GCM WEB Configuration Ends-->
    
    
    <!--APNS Configuration Starts-->
    <add key="IsIOSProductionEnivronment" value="false" />
    <add key="APNSCertPassword" value="" />
    <add key="APNSEnterpriseDistributionCertificateName" value="Certificates_Dist.p12" />
    <add key="APNSEnterpriseDevelopmentCertificateName" value="Certificates.p12" />
    <add key="APNSStoreDistributionCertificateName" value="Certificates_Dist.p12" />
    <add key="APNSStoreDevelopmentCertificateName" value="Certificates.p12" />
    <!--APNS Configuration Ends-->
    
    <!--Email Configration-->
    <!--<add key="FromMailAddress" value="riscoweb1@gmail.com" />
    <add key="FromMailName" value="Risco" />
    <add key="FromPassword" value="risco123" />
    <add key="Host" value="smtp.gmail.net" />
    <add key="Port" value="587" />-->

    <add key="FromMailAddress" value="riscoapplication@gmail.com" />
    <add key="FromMailUserName" value="riscoapp" />
    <add key="FromMailName" value="Risco" />
    <add key="FromPassword" value="risco@app2020" />
    <add key="Host" value="smtp.sendgrid.net" />
    <add key="Port" value="587" />


    <add key="IpStackApiKey" value="3f0bdd4ae1ac75744fbba41741b2c722" />


  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="2000000" />
    <!--2GB-->
    <customErrors mode="RemoteOnly" />
    <authentication mode="None" />
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="257483648" />
        <!--2GB-->
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-11.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 6003CFA9-E9B8-4E83-A54C-8256CB47C333-->